In [17]:


!pip install pyspark

Requirement already satisfied: pyspark in /usr/local/lib/python3.6/dist-packages (2.4.1)
Requirement already satisfied: py4j==0.10.7 in /usr/local/lib/python3.6/dist-packages (from pyspark) (0.10.7)

In [0]:
from pyspark.sql import SparkSession

spark = SparkSession \
    .builder \
    .appName("Python Spark Dtafrane basic example") \
    .config("spark.some.config.option", "some-value") \
    .getOrCreate()

In [0]:
import pandas as pd
url = "https://raw.githubusercontent.com/flaviobrito/projects_datasets/master/Data_A.csv"
df = spark.createDataFrame(pd.read_csv(url), )

In [128]:
df.columns

['NUMFUNC', 'NUMVINC', 'SALARY']

In [101]:
df.dtypes

[('NUMFUNC', 'bigint'), ('NUMVINC', 'bigint'), ('SALARY', 'double')]

In [129]:
type(df['SALARY'])

pyspark.sql.column.Column

In [102]:
df.head()

Row(NUMFUNC=102929, NUMVINC=1, SALARY=1000.0)

In [103]:
df.show(n=2)

+-------+-------+------+
|NUMFUNC|NUMVINC|SALARY|
+-------+-------+------+
| 102929|      1|1000.0|
| 109999|      3|3000.0|
+-------+-------+------+
only showing top 2 rows

In [104]:
df.show()

+-------+-------+------+
|NUMFUNC|NUMVINC|SALARY|
+-------+-------+------+
| 102929|      1|1000.0|
| 109999|      3|3000.0|
| 102929|      2|   NaN|
| 119836|      1| 500.0|
+-------+-------+------+

In [106]:
df

DataFrame[NUMFUNC: bigint, NUMVINC: bigint, SALARY: double]

In [107]:
df.describe

In [108]:
df.printSchema()

root
 |-- NUMFUNC: long (nullable = true)
 |-- NUMVINC: long (nullable = true)
 |-- SALARY: double (nullable = true)

In [120]:
df.select('SALARY').show()

+------+
|SALARY|
+------+
|1000.0|
|3000.0|
|   NaN|
| 500.0|
+------+

In [130]:
df.describe('SALARY').show()

+-------+------+
|summary|SALARY|
+-------+------+
|  count|     4|
|   mean|   NaN|
| stddev|   NaN|
|    min| 500.0|
|    max|   NaN|
+-------+------+

In [131]:
df.select(['NUMFUNC', 'SALARY']).show()

+-------+------+
|NUMFUNC|SALARY|
+-------+------+
| 102929|1000.0|
| 109999|3000.0|
| 102929|   NaN|
| 119836| 500.0|
+-------+------+

In [132]:
df.filter(df.SALARY == 3000).show()

+-------+-------+------+
|NUMFUNC|NUMVINC|SALARY|
+-------+-------+------+
| 109999|      3|3000.0|
+-------+-------+------+

In [133]:
# Register the DataFrame as a SQL temporary view
df.createOrReplaceTempView("payroll")
sql_results = spark.sql("SELECT * FROM payroll")
sql_results.show()

+-------+-------+------+
|NUMFUNC|NUMVINC|SALARY|
+-------+-------+------+
| 102929|      1|1000.0|
| 109999|      3|3000.0|
| 102929|      2|   NaN|
| 119836|      1| 500.0|
+-------+-------+------+

# Rename Columns

In [143]:
#Rename column
df.withColumnRenamed('SALARY', 'salary').show()

+-------+-------+------+
|NUMFUNC|NUMVINC|salary|
+-------+-------+------+
| 102929|      1|1000.0|
| 109999|      3|3000.0|
| 102929|      2|   NaN|
| 119836|      1| 500.0|
+-------+-------+------+

# Operations

In [152]:
# Operation/Function and Column Alias
df.withColumn('bonus',df['salary']*1.2).show()

AttributeError: ignored

In [159]:
df.show()

+-------+-------+------+
|NUMFUNC|NUMVINC|SALARY|
+-------+-------+------+
| 102929|      1|1000.0|
| 109999|      3|3000.0|
| 102929|      2|   NaN|
| 119836|      1| 500.0|
+-------+-------+------+

In [164]:
df2 = df.withColumn('bonus', df['salary']*1.2).show()

+-------+-------+------+------+
|NUMFUNC|NUMVINC|SALARY| bonus|
+-------+-------+------+------+
| 102929|      1|1000.0|1200.0|
| 109999|      3|3000.0|3600.0|
| 102929|      2|   NaN|   NaN|
| 119836|      1| 500.0| 600.0|
+-------+-------+------+------+

In [166]:
type(df)

pyspark.sql.dataframe.DataFrame